<div class="row">
	<div class="offset1 span10">
		<form class="form-horizontal" ng-submit="submit()"
			ng-controller="LoginFormController">
			<div class="control-group">
				<label class="control-label" for="">User</label>
				<div class="controls">
					<input type="text" id="usernameInput" name="username" ng-model="user.username" /><br />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="">Password</label>
				<div class="controls">
					<input type="password" id="passwordInput" name="password" ng-model="user.password" /><br />
				</div>
			</div>
            <div class="control-group">
                <label class="control-label" for="">Client</label>
                <div class="controls">
                    <select ui-select2 ng-model="user.client" data-placeholder="Pick a client">
                        <option value=""></option>
                        <option value="1">Big Money Fund</option>
                        <option value="2">Long/Short Big/Small Plc</option>
                        <option value="3">The Management</option>
                    </select>
                </div>
            </div>
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" id="submit" value="Submit" />
				</div>
			</div>
		</form>
	</div>
</div>
